# Environment
.env
*.env.backup
*.env.production

# OS
.DS_Store
Thumbs.db

# IDE
/.idea
/.vscode
/.nova
/.zed
/.fleet

# Logs
*.log

# PHP
/vendor
*.phpunit.result.cache
.phpactor.json

# Node
node_modules/
